//
@import "reset";

@font-face {
    font-family: MyFont;
    src: url(./../../assets/fonts/visitor-2009.ttf);
}

// html,
// body {
//     height: 100%;
// }
// input {
//     font-size: 10px;
// }
.container-fluid {
    height: 100%;
}
#validation-form {
    height: 100%;
    font-size: 1.5vh;
}

#visitors-v-logo {
    margin: 1% auto 1% auto;
    height: 5vh;
}
#validation-form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.thankyou {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../assets/images/diane_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.register-text,
footer {
    font-family: MyFont, sans-serif;
}
